@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');


* {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden; 
}


a{
    text-decoration: none;
}

header {
    background-image: url('assets/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 120px;
}
#logo {
    height: 55px;
    width: 55px;
    margin-left: 2px;
}

#nav-menu{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}


#deals, #folder{
    font-family: 'Jura', sans-serif;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    bottom: 18px;
}

#deals{
    color: #50216e;
}
#folder{
    color: #FFDA0A;
}

li {
    list-style: none;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.nav-item{
    font-family: 'Jura', sans-serif;
    margin: 25px 0;
    font-size: 17px;
}
.nav-link{
    color: rgba(29, 27, 27, 0.904);
    transition: 0.7s ease;
}
.nav-link:hover{
    /* transition-duration: 0.5s; */
    color: #FFDA0A;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


#hero{
    display: flex;
    flex-direction: column;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
#hero-heading{
    margin: 20vh 15px 10px 15px;
    font-size: 35px;
    text-align: center;
    color: #FFDA0A;
    font-family: 'Jura', sans-serif;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} 
@keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
}
#hero-para{
    text-align: center;
    font-family: 'Jura', sans-serif;
    margin: 15px;
    font-size: 13px;
    color: #FFEC84;
    line-height: 23px;
    font-weight: bold;
    animation: drop-in 1s ease 200ms backwards;
}
.button{
    border-radius: 8px;
    padding: 10px;
    font-family: 'Jura', sans-serif;
    animation: drop-in 1s ease 200ms backwards;
}
#take-a-tour{
    background-color: #50216E96;
    color: #FFEC84 !important;
    align-self: center;
    font-size: 15px;
    font-weight: bold;
}
#take-a-tour:hover{
    transition-duration: 0.7s;
    background-color: #50216e;
    color: #FFDA0A;
    cursor: pointer;
}

#exclusive_deals{
    /* display: inline-block; */
    width: 60%;
    /* height: 300px; */
    margin-left: 4vw;
    margin-top: 5vh;
    height: 300px;
    overflow: hidden;
    padding-bottom: 0;

    /* background-image: url('assets/exclusive_deals.png'); */
    /* box-shadow: 10px 10px 8px 10px #888888; */
    background-color: #e7cdb6;
}

#exclusive_deals img{
    padding-left: 10%;
    object-fit: cover;
}

#exclusive_deals_info{
    position: relative;
    margin-left: 45%;
    bottom: 200px;
    display: block;
    width: 54%;
    height: 290px;
    background-color: white;
    box-shadow: 10px 10px 8px 10px #888888;
}

#heading_exclusive{
    font-family: 'Jura', sans-serif;
    color: #FFDA0A;
    font-size: 35px;
    text-align: left;
    margin: 3rem 30px 0 10vw;
}
#para_exclusive{
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 1rem 30px 0 10vw;
    color: #595959;
    line-height: 2.5rem;
}

#deals-container{
    display: flex;
    margin: -170px auto 0 auto;
    padding: 15px;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
}
.deal-block{
    background-color: white;
    border: black solid 1px;
    box-shadow: 10px 10px 8px 10px #888888;
    text-align: center;
    padding: 15px;
    margin-bottom: 1.5rem;
    margin-left: 2.5rem;
    flex-basis: 23.333333%;

    transform: scale(1); 
    transition-duration: 0.3s;
    -webkit-transform: scale(1);
    -webkit-transition-duration: 0.3s;
}
@media (max-width: 1150px) {
    .deal-block{
        flex-basis: 40%;
    }
}
.deal-block:hover{
    transform: scale(1.05); 
    transition-duration: 0.3s;
    -webkit-transform: scale(1.05);
    -webkit-transition-duration: 0.3s;
}

.deals-img{
    width: 250px;
    height: 250px;
}
.deals-heading{
    font-family: 'Jura', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 8px;
}

#store-heading{
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: #FFDA0A;
    text-align: center;
}
#store-para{
    font-family: 'Kodchasan', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #595959;
    text-align: center;
    margin: 25px 0;
    width: auto;
}

.store-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 15vw 0 15vw;
}
.store-block{
    margin: 20px 0;
    flex-basis: 33.333333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

.store-heading{
    font-family: 'Kodchasan', sans-serif;
    font-weight: lighter;
    text-align: center;
}

#stats-block{
    display: flex;
    margin-top: 60px;
    
}
#stats-img-block{
    display: inline-block;
    width: 500px;
    height: 400px;
    background-image: url('assets/stats.png');
}

#stats{
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.stat{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.stat-number{
    font-weight: 90;
    font-size: 30px;
    font-family: 'Kodchasan', sans-serif;
}
.stat-hr{
    width: 45%;
    margin: 10px 0;
    align-content: end;
}
.stat-heading{
    font-family: 'Jura', sans-serif;
    font-size: 14px;
}
.stat-hr-2{
    width: 20%;
    margin: 10px 0;
    margin-bottom: 25px;
}

footer{
    margin-top: 40px;
    background-color: #595959;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
#footer-left{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#stay_in{
    color: #50216e;
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 15px;
}
#touch{
    color: #FFDA0A;
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}
#footer-right{
    display: flex;
    flex-basis: 50%;
    margin-top: 25px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#footer-socials{
    display: inline-flex;
    list-style: none;
}
.social-img{
    width: 70px;
    height: 70px;
    margin: 10px;
}
.social-img:hover{
    transform: scale(1.1); 
    transition-duration: 0.3s;
}
#copyright{
    color: #e8e8e8;
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
}
#footer-nav{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.footer-nav-item{
    list-style: none;
    margin-top: 13px;
    margin-left: 15px;
    font-family: 'Jura', sans-serif;
    font-size: 16px;
}
.footer-nav-text:hover{
    color: #FFDA0A !important;
    transition-duration: 0.3s;
}