@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');


* {
    padding: 0px;
    margin: 0px;
    /* overflow-x: hidden;  */
}

header {
    background-image: url('assets/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 120px;
}
#logo {
    height: 82px;
    width: 82px;
    margin-left: 30px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}


#deals, #folder{
    font-family: 'Jura', sans-serif;
    font-size: 35px;
    font-weight: 700;
    position: relative;
    bottom: 25px;
}

#deals{
    color: #50216e;
}
#folder{
    color: #FFDA0A;
}

#navlinks{
    display: inline-flex;
    list-style: none;
    margin-top: 10px;
}
.navlink{
    color: rgba(29, 27, 27, 0.904);
    font-family: 'Jura', sans-serif;
    margin: 25px 50px;
    margin-right: 50px;
    font-size: 20px;
}
.navlink:hover{
    transition-duration: 0.5s;
    color: #FFDA0A;
    cursor: pointer;
}

#hero{
    display: flex;
    flex-direction: column;
}
#hero-heading{
    margin: 20vh 15px 10px 15px;
    font-size: 50px;
    text-align: center;
    color: #FFDA0A;
    font-family: 'Jura', sans-serif;
}
#hero-para{
    text-align: center;
    font-family: 'Jura', sans-serif;
    margin: 15px;
    font-size: 18px;
    color: #FFEC84;
    line-height: 4.2vh;
    font-weight: bold;
}

.button{
    border-radius: 8px;
    padding: 10px;
    font-family: 'Jura', sans-serif;
}
#take-a-tour{
    background-color: #50216E96;
    color: #FFEC84;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
}
#take-a-tour:hover{
    transition-duration: 0.7s;
    background-color: #50216e;
    color: #FFDA0A;
    cursor: pointer;
}

#exclusive_deals{
    display: inline-block;
    width: 1000px;
    height: 300px;
    margin-left: 4vw;
    margin-top: 5vh;
    background-image: url('assets/exclusive_deals.png');
    /* box-shadow: 10px 10px 8px 10px #888888; */
}
#exclusive_deals_info{
    position: relative;
    left: 40vw;
    bottom: 35vh;
    display: inline-block;
    width: 55vw;
    height: 393px;
    background-color: white;
    box-shadow: 10px 10px 8px 10px #888888;
}

#heading_exclusive{
    font-family: 'Jura', sans-serif;
    color: #FFDA0A;
    font-size: 50px;
    text-align: left;
    margin: 4rem 30px 0 10vw;
}
#para_exclusive{
    font-family: 'Jura', sans-serif;
    font-size: 24px;
    text-align: left;
    margin: 2rem 30px 0 10vw;
    color: #333333;
    line-height: 2.5rem;
}

#deals-container{
    display: flex;
    margin: -190px 5rem 0 5rem;
    justify-content: center;
    flex-wrap: wrap;
}
.deal-block{
    background-color: white;
    border: black solid 1px;
    box-shadow: 10px 10px 8px 10px #888888;
    text-align: center;
    padding: 25px;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}
.deals-img{
    width: 350px;
    height: 350px;
}
.deals-heading{
    font-family: 'Jura', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 8px;
}

#store-heading{
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    font-size: 56px;
    color: #FFDA0A;
    text-align: center;
}
#store-para{
    font-family: 'Kodchasan', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color: #333333;
    text-align: center;
    margin: 25px 0;
    width: 100%;
}

.store-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 15vw 0 15vw;
}
.store-block{
    margin: 20px 0;
    flex-basis: 33.333333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

.store-heading{
    font-family: 'Kodchasan', sans-serif;
    font-weight: lighter;
    text-align: center;
}

#stats-block{
    display: flex;
    margin-top: 60px;
    
}
#stats-img-block{
    display: inline-block;
    width: 948px;
    height: 760px;
    background-image: url('assets/stats.png');
    
}
/* #stats-img{
    flex-basis: 50%;
    width: 60vw;
} */
#stats{
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.stat{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.stat-number{
    font-weight: 90;
    font-size: 40px;
    font-family: 'Kodchasan', sans-serif;
}
.stat-hr{
    width: 45%;
    margin: 10px 0;
    align-content: end;
}
.stat-heading{
    font-family: 'Jura', sans-serif;
    font-size: 14px;
}
.stat-hr-2{
    width: 20%;
    margin: 10px 0;
    margin-bottom: 25px;
}

footer{
    margin-top: 40px;
    background-color: #888888;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#footer-left{
    display: inline-flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#stay_in{
    color: #50216e;
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 15px;
}
#touch{
    color: #FFDA0A;
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    font-size: 55px;
    /* margin-top: 5px; */
}
#footer-right{
    display: flex;
    flex-basis: 50%;
    margin-top: 25px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#footer-socials{
    display: inline-flex;
    list-style: none;
}
.social-img{
    width: 94px;
    height: 94px;
    margin: 10px;
}
#copyright{
    color: #e8e8e8;
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    font-size: 23px;
    margin-left: 15px;
}
#footer-nav{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.footer-nav-item{
    list-style: none;
    margin: 15px;
    color: #e8e8e8;
    font-family: 'Jura', sans-serif;
    font-size: 16px;
}